@use "../utils/variables";

.trend-tag {
    position: absolute;
    left: 20px;
    top: 20px;
    background: variables.$light-200;
    display: inline-flex;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: variables.$font-size-12;
}

.dot-icon{
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 20px;
}

.bootstrap-tagsinput {
    .label-info {
        position: relative;
        background: variables.$dark-transparent;
    }
}